<html>

<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">

<div id='cssmenu'>
<ul>
   <li><%= link_to "Home", '/home' %><span></span></a></li>
   <li class='active '><%= link_to "About", '/about' %><span></span></a></li>
   <li><%= link_to "People", '/people' %><span></span></a></li>
   <li><%= link_to "Events", '/events' %><span></span></a></li>
   <li><%= link_to "Contact", '/contact' %><span></span></a></li>
   <li><%= link_to "Organizations", '/organizations' %><span></span></a></li>
</ul>
</div>
 </div>
</header>


<div class="line-separator"></div>
 
  <body>
  <div class="line-separator"></div>
  <h3> History of AASA </h3>
  <p>In the early 1970s, AASA was the only Asian American Student Group on Yale's Campus. And now

(AASA) serves two functions. It is the vehicle for both pan-Asian American unity and Asian American political action on the Yale campus.</p>

<p>Structurally, it serves as the umbrella organization for many Asian American groups on campus and consists of AASA moderator(s) together with the AASA officers. In addition, its executive board consists of the presidents of the nine member ethnic organizations.</p>

<p>This organization is meant to attract students who are active in their specific ethnic groups as well as students who prefer to engage themselves in pan-Asian activities; these committees, therefore, are open to all interested students. Issues tackled by AASA include diversifying faculty and curricula, increasing funding for Asian American student activities, strengthening the Asian American Cultural Center, addressing the rise in hate crimes, reaching out to immigrants and Asian American families, increasing political representation.
</p>


<h3>Constitution of AASA </h3>

<ol class='depth0'>
<b><li>Name</li></b>
  <ol class='depth1'>
  <li>The name of the organization is the Asian American Students Alliance.</li>
  </ol>
<b><li>Purpose</li></b>
  <ol class='depth1'>
  <li style='list-style-type:lower-alpha;'>The purpose of the organization is to provide a forum for communication and action for the Asian American community at Yale.</li>
  </ol>
<b><li>Members</li></b>
  <ol class='depth1'>
  <li>Inclusion</li>
    <ol class='depth2'>
    <li>Prospective groups shall nominate themselves to the AASA moderator(s)
for inclusion. The Executive Board shall decide whether to admit the
group by a unanimous vote.</li>
    </ol>
  <b><li>Membership</li></b>
    <ol class='depth2'>
    <li>Membership shall be renewed yearly. Renewal shall be achieved
automatically if the member group fulfills the requirements for member
groups.</li>
    </ol>
  <b><li>Commitments and Entitlements</li></b>
    <ol class='depth2'>
    <li>Member groups must have representation at every AASA Executive Board
meeting and every Political Action and Education Committee meeting.</li>
    <li>Each member group shall be entitled one vote in all Executive Board
decisions.</li>
    <li>Member groups shall be entitled every semester to AASA seed funding,
the amount of which will be determined by the Executive Board.</li>
    <li>Member groups shall be entitled to submit proposals for the AASA
discretionary fund.</li>
    </ol>
  <b><li>Exclusion</li></b>
    <ol class='depth2'>
    <li>Grounds for a vote of removal from AASA membership are when a group
misses more than a total of 3 executive board or PAEC meetings per
semester or clearly demonstrates a lack of commitment, as determined by
any member of the executive board, either to the AASA membership or to
the Asian American community.</li>
    <li>Exclusion shall be formally determined by a majority vote by the
Executive Board, effective upon voting.</li>
    </ol>
  </ol>
<b><li>Structure</li></b>
  <ol class='depth1'>
  <li>Executive Board</li>
    <ol class='depth2'>
    <li>The Executive Board shall consist of the president(s) or moderator(s) of
each member group and the moderator(s) of AASA.</li>
    <li>When voting, each member group shall have one vote and the AASA
moderator(s) shall have one vote.</li>
    <li>When making decisions regarding constitution issues, a two-thirds (2/3)
majority vote is required by AASA board members. Executive Board has
ultimate approval of measures passed by the AASA board by a two-thirds
(2/3) majority vote.</li>
    <li>Executive Board has sole voting privileges on budget issues.</li>
    </ol>
  <b><li>AASA Board</li></b>
    <ol class='depth2'>
    <li>The AASA Board will consist of two moderators, a secretary, a treasurer, 
two community development chairs, two Political Action and Education Committee chairs, 
a webmaster, an Asian Pacific American blog editor and up to three freshman liaisons.</li>
    <li>The main duties of the AASA board will be to support and strengthen the
Asian American community through the efficient coordination and
administration of the Asian American community. The AASA board will
also contribute by planning pan-Asian American events.</li>
    </ol>
  <b><li>Committees</li></b>
    <ol class='depth2'>
    <li>The organization shall have the political action and education committee
(PAEC). PAEC is responsible for directing the political vision for AASA,
and does so in conjunction with the AASA Board and the Executive Board
through political events and activities on campus.</li>
      <ol class='depth3'>
      <li>The responsibilities of the political action committee shall include
but shall not be limited to:</li>
        <ol class='depth4'>
        <li>Encouraging Asian American political recognition and
action at Yale;</li>
        <li>Initiating action and engaging students over Asian
American issues at Yale and beyond;</li>
        <li>Keeping the Asian American student community informed
of current events;</li>
        <li>Advocating for the representation of Asian American
experiences in the Yale curriculum.</li>
        </ol>
      <li>All member groups must designate a representative to serve on PAEC. In 
the event that the PAEC chair(s) is/are also sitting political chair(s) of a member 
group, the PAEC chair(s) may also serve as PAEC representative(s) of the member 
group. If a member group does not have a Political Chair, the member group must 
nonetheless send a representative to the committee.</li>
      </ol>
    <li>The organization shall have an Asian Pacific American (APA) blog
committee. The APA Blog Committee shall be responsible for aiding the
APA Blog Editor in updating and maintaining the AASA blog and posting
new entries in a timely manner.</li>
      <ol class='depth3'>
      <li>The decision to have an APA blog committee is up to the
discretion of the APA Blog Editor.</li>
      <li>The APA Blog Editor will be responsible for choosing members of
the committee.</li>
      </ol>
    <li>Any AASA committee will be open to members of the general Yale
community. Members of the committee need not be representatives of a
particular group and will receive equal status with members who represent
member and affiliate groups.</li>
    </ol>
  </ol>
<b><li>AASA Board</li></b>
  <ol class='depth1'>
  <b><li>Moderators (up to 2)</li></b>
    <ol class='depth2'>
    <li>The moderators are responsible for leading the meetings for AASA Board. 
They are also responsible for running meetings of the Executive Board, which 
consists of the senior leadership of the member groups.</li>
    <li>The moderators will convene and set the agenda for all Executive Board 
and AASA Board meetings.</li>
    <li>The moderators will represent AASA at all Yale meetings and will serve
as administrative liaison to the Asian American student community for the
Director of the Asian American Cultural Center.</li>
    <li>The moderators will serve a term of two semesters.</li>
    </ol>
  <b><li>Political Education and Action Committee Chair (2)</li></b>
    <ol class='depth2'>
    <li>The PAEC chairs will convene, set the agenda, and run meetings for the 
Political Education and Action Committee. They will be responsible for holding 
member and affiliate group representatives accountable for active involvement.</li>
    <li>The PAEC chairs will relay information to the AASA and Executives Boards.</li>
    <li>The PAEC chairs will serve a term of two semesters.</li>
    <li>The PAEC chairs chairs will plan and coordinate initiatives, speeches, discussions, 
and related events open to the entire Yale community for the promotion of Asian American 
Studies.</li>
    </ol>
 <b> <li>Community Development Coordinator (2)</li></b>
    <ol class='depth2'>
    <li>The community development chairs will organize efforts to foster a sense of community 
among Asian Americans at Yale.</li>
    <li>The community development chairs will organize efforts to reach out to and collaborate 
with other groups on campus.</li>
    <li>The community development chairs will also lead AASA’s New Haven community efforts, 
which include but are not limited to AASA’s Dwight Hall community service group.</li>
    <li>The community development chairs will serve a term of two semesters.</li>
    </ol>
  <b><li>Secretary</li></b>
    <ol class='depth2'>
    <li>The secretary will record minutes at all Executive Board and AASA Board meetings 
and is responsible for the historical records of AASA.</li>
    <li>The secretary will also serve to assist in providing information to the Yale 
community of AASA and AASA-related events through the use of newsletters and/or 
announcements.</li>
    <li>The secretary will serve a term of two semesters.</li>
    </ol>
  <b><li>Treasurer</li></b>
    <ol class='depth2'>
    <li>The treasurer will keep accounts for AASA and distribute money to its
member and affiliate groups.</li>
    <li>The treasurer will serve a term of two semesters.</li>
    </ol>
  <b><li>Webmaster</li></b>
    <ol class='depth2'>
    <li>The webmaster is responsible for maintaining the AASA website and for
posting new items of interest in a timely manner.</li>
    <li>He/she is also responsible for coordinating all of the marketing 
(website announcements, posters, etc.) for AASA events.</li>
    <li>The webmaster will serve a term of two semesters.</li>
    </ol>
  <b><li>Asian Pacific American Blog Editor (1)</li></b>
    <ol class='depth2'>
    <li>The APA Blog Editor is responsible for updating and maintaining the
AASA blog and posting new entries in a timely manner.</li>
    <li>The APA Blog Editor may elect to form a separate committee to aid
his/her duties.</li>
    <li>The APA Blog Editor will serve a term of two semesters.</li>
    </ol>
  </ol>
<b><li>Meetings</li></b>
  <ol class='depth1'>
  <b><li>Executive Board</li></b>
    <ol class='depth2'>
    <li>The Executive Board shall have biweekly meetings. All member group 
presidents are required to attend. Should a president/moderator be unable 
to attend a meeting, he/she must send a representative from the member group.</li>
      <ol class='depth3'>
      <li>Absence from 3 board meetings in one semester is grounds for 
dismissal at the discretion of the Executive Board and the AASA moderators.</li>
      </ol>
    <li>AASA moderator(s) and AASA member group representatives are
required to attend.</li>
    <li>The moderator(s) shall convene and set the agenda for meetings. 
Proposals for the agenda will be submitted to the moderator(s).</li>
    </ol>
  <b><li>AASA Board</li></b>
    <ol class='depth2'>
    <li>The AASA board shall have biweekly meetings. All board members are 
required to attend.</li>
      <ol class='depth3'>
      <li>Absence from 3 board meetings in one semester is grounds for
dismissal at the discretion of the AASA moderator(s).</li>
      </ol>
    <li>Board members shall relay information about events to be discussed and 
placed on the agenda for an Executive Board meeting.</li>
    </ol>
  <b><li>Committees</li></b>
    <ol class='depth2'>
    <li>The committees shall decide how often to meet.</li>
    <li>The chair(s) will convene and set the agenda for meetings. Proposals for
the agenda will be submitted to the chair(s).</li>
    <li>Attendance at PAEC meetings is required for all member groups.</li>
    </ol>
  </ol>
<b><li>Elections</li></b>
  <ol class='depth1'>
  <b><li>Moderator(s)</li></b>
    <ol class='depth2'>
    <li>The position of moderator(s) will be open to any undergraduate student
who has at least one semester’s experience working on the AASA Board,
on the Executive Board, or on one of the committees.</li>
    <li>Only the Executive Board can vote in the election of the moderator(s).</li>
    <li>A candidate requires a majority vote to be elected.</li>
    </ol>
  <b><li>AASA Board Members</li></b>
    <ol class='depth2'>
    <li>Positions other than AASA moderator(s) on the AASA board will be open
to any Yale undergraduate. The positions of freshman liaisons will be
open to freshmen only. All individuals who have attended at least one
AASA-sponsored meeting or event, which includes events held by our
member groups, may vote in the elections.</li>
    </ol>
  <b><li>Format</li></b>
    <ol class='depth2'>
    <li>Candidates are allowed to run for more than one position, but no more
than three positions. Candidates must submit a 250 word statement before
elections, and they shall have a chance to speak during the elections.</li>
    </ol>
  </ol>
<b><li>Amendments</li></b>
  <ol class='depth1'>
  <li>When making decisions regarding constitution issues, a two-thirds (2/3) majority vote is required by AASA board members. Executive Board has ultimate approval of measures passed by the AASA board by a two-thirds (2/3) majority vote.</li>
  </ol>
<b><li>Dissolution Clause:</li></b>
  <ol class='depth1'>
  <li>Should the Asian American Students Alliance dissolve, all assets acquired by the Asian American Students Alliance shall be used to fund and support events previously held by the Asian American Students Alliance, Asian Pacific American Heritage Series, and the member and affiliate groups, and/or allocated to the Asian American Cultural Center, subject to the discretion of the Executive Board of the Asian American Students Alliance.</li>
  </ol>
</ol>
<p>Modified: January 12, 2012</p>


  <div class="line-separator"></div>
  
  </body>



  
  <footer class="footer">
  <nav>
    <small>
    
    For more information, contact Connie Lu, Christopher Dee, or Albert Jiao.
  </small>
    <ul>
    <li><%= link_to "Home     |",   '#' %></li>
      <li><%= link_to "People     |",   '#' %></li>
      
      <li><%= link_to "Events     |",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      
    </ul>
  </nav>
</footer>

  </html>
