<html>

<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">

<div id='cssmenu'>
<ul>
   <li><%= link_to "Home", '/home' %><span></span></a></li>
   <li><%= link_to "People", '/people' %><span></span></a></li>
   <li><%= link_to "Events", '/events' %><span></span></a></li>
   <li class='active '><%= link_to "Contact", '/contact' %><span></span></a></li>
</ul>
</div>
 </div>
</header>
<head>

    <%= javascript_include_tag 'jquery' %>
    </head>


      
  <h1>Contact Us</h1>

<div class="line-separator"></div>
    <h6>Co-Moderators</h6>
    <p>Connie Lu and Christopher Dee</p>
    
        <h6>PAEC Chairs</h6>
    <p>John Tam and Austin Long</p>

        <h6>Secretary</h6>
    <p>Michael Liang</p>

        <h6>Treasurer</h6>
    <p>Cynthia Chan</p>

        <h6>Community Outreach Chairs</h6>
    <p>Seyoung Lee and Candice Hwang</p>

         <h6>Webmaster</h6>
    <p>Albert Jiao</p>

  <body>
  <div class="line-separator"></div>
  

  <div class="line-separator"></div>
  
  </body>
  
  <footer class="footer">
  <nav>
    <small>
    
    For more information, contact Connie Lu, Christopher Dee, or Albert Jiao.
  </small>
    <ul>
    <li><%= link_to "Home     |",   '#' %></li>
      <li><%= link_to "People     |",   '#' %></li>
      
      <li><%= link_to "Events     |",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      
    </ul>
  </nav>
</footer>

  </html>
