<html>

<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">

<div id='cssmenu'>
<ul>
   <li><%= link_to "Home", '/home' %><span></span></a></li>
   <li><%= link_to "About", '/about' %><span></span></a></li>
   <li><%= link_to "People", '/people' %><span></span></a></li>
   <li><%= link_to "Events", '/events' %><span></span></a></li>
   <li class='active '><%= link_to "Contact", '/contact' %><span></span></a></li>
   <li><%= link_to "Organizations", '/organizations' %><span></span></a></li>
</ul>
</div>
 </div>
</header>
<head>

    </head>


      
  <h1>Contact Us</h1>

<div class="line-separator"></div>


   <h3>We love to talk!</h3>
   <p>Please don't hesitate to contact anyone one of us about any matter! We would be more than happy to discuss anything from joining a member group to anything about Asian American heritage and culture!</p>
   
    <h6>Co-Moderators</h6>
    <p>Connie Lu (connie.lu@yale.edu) and Christopher Dee (edwardchristopher.dee@yale.edu)</p>    
        <h6>PAEC Chairs</h6>
    <p>John Tam (john.tam@yale.edu) and Austin Long (austin.long@yale.edu)</p>

        <h6>Secretary</h6>
    <p>Michael Liang (michael.liang@yale.edu)</p>

        <h6>Treasurer</h6>
    <p>Cynthia Chan (cotkauc@gmail.com) </p>

        <h6>Community Outreach Chairs</h6>
    <p>Seyoung Lee (seyoung.lee@yale.edu) and Candice Hwang (candice.hwang@yale.edu) </p>

         <h6>Webmaster</h6>
    <p>Albert Jiao (albert.jiao@yale.edu)</p>


  <body>
  <div class="line-separator"></div>
  

  <div class="line-separator"></div>
  
  </body>
  
  <footer class="footer">
  <nav>
    <small>
    
    For more information, contact Connie Lu, Christopher Dee, or Albert Jiao.
  </small>
    <ul>
    <li><%= link_to "Home     |",   '/home' %></li>
      <li><%= link_to "About    |",   '/about' %></li>
      <li><%= link_to "People    |",   '/people' %></li>
      
      <li><%= link_to "Events     |",   '/events' %></li>
      <li><%= link_to "Contact |", '/contact' %></li>
      <li><%= link_to "Organizations", '/organizations' %></li>
      
      
    </ul>
  </nav>
</footer>

  </html>
