<html>

<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">

<div id='cssmenu'>
<ul>
   <li class='active '><%= link_to "Home", '/home' %><span></span></a></li>
   <li><%= link_to "About", '/about' %><span></span></a></li>
   <li><%= link_to "People", '/people' %><span></span></a></li>
   <li><%= link_to "Events", '/events' %><span></span></a></li>
   <li><%= link_to "Contact", '/contact' %><span></span></a></li>
   <li><%= link_to "Organizations", '/organizations' %><span></span></a></li>
</ul>
</div>
 </div>
</header>
<head>
    </head>
<div id="left"></div>
<div id="right"></div>


      
  <h1>Yale Asian American Student Alliance</h1>

<div class="line-separator"></div>
    <div class="line-separator"></div>
  
  <h3>A Letter from Our Co-Moderators </h3>  
  <p>
  <b>Dear Yale Community,</b></p>
 
 <p>
Public reception of Pew Research Center’s report “The Rise of Asian Americans” released last year called to mind many misconceptions about the Asian American community. The report fed the assumption that Asian Americans can be understood as the "model minority": the fastest growing, best educated, and wealthiest minority group. What the report neglected to consider, however, are the many exceptions to these gross assumptions. AASA’s role is to help oust misleading stereotypes and to support the inherent diversity of the whole community. </p>
<p> 
The spring semester marks a new year for AASA. Last year AASA focused on its mandate as the political voice and unifying organization for Yale’s Asian American community. This year AASA seeks to continue in its twofold mission. AASA will continue to advocate political involvement and activism on behalf of the Asian American community through the PAEC high school conference, participation in the ECAASU 2013 conference, and bringing in various speakers. AASA will likewise continue to work as the cement between the diverse Asian American community by supporting events like Night Market, building enduring relationships among our member groups, and holding educational events such as language day and political discussions. </p>
<p> 
AASA will also bring community service to the forefront of its goals through volunteer opportunities that engage Asian Americans outside the Yale community. AASA will also have a greater internet presence through a revamped website. </p>
 <p>
AASA will foster dialogue amongst groups about common issues through restructured Executive Board meetings that will involve a forum for helping each other with events and discussions based on articles about Asian American events and ideas, as well as broader community issues that have implications for Asian Americans.
</p>
<p><b>
Chris and Connie</b>
</p>
  <div class="line-separator"></div>
  
</body>
  
 <footer class="footer">
  <nav>
    <small>
    
    For more information, contact Connie Lu, Christopher Dee, or Albert Jiao.
  </small>
    <ul>
    <li><%= link_to "Home     |",   '/home' %></li>
      <li><%= link_to "About    |",   '/about' %></li>
      <li><%= link_to "People    |",   '/people' %></li>
      
      <li><%= link_to "Events     |",   '/events' %></li>
      <li><%= link_to "Contact |", '/contact' %></li>
      <li><%= link_to "Organizations", '/organizations' %></li>
      
      
    </ul>
  </nav>
</footer>
  </html>
