
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Yale AASA", '/', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "HOME",    '/' %></li>
          <li><%= link_to "HELP",    '#' %></li>
          <li><%= link_to "OPPORTUNITIES", '/opportunities' %></li>
          <li><%= link_to "EVENTS", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="center hero-unit">
  <h1>YALE ASIAN AMERICAN STUDENT'S ALLIANCE</h1>

  <h2>
    YALE AASA
  </h2>
  <body>
  
  <h3>History of the Organization </h3>
      <p>
    In the early 1970s, AASA was the only Asian American Student Group on Yale's Campus. And now

AASA serves two functions. It is the vehicle for both pan-Asian American unity and Asian American political action on the Yale campus.

Structurally, it serves as the umbrella organization for many Asian American groups on campus and consists of AASA moderator(s) together with the AASA officers. In addition, its executive board consists of the presidents of the nine member ethnic organizations.

This organization is meant to attract students who are active in their specific ethnic groups as well as students who prefer to engage themselves in pan-Asian activities; these committees, therefore, are open to all interested students. Issues tackled by AASA include diversifying faculty and curricula, increasing funding for Asian American student activities, strengthening the Asian American Cultural Center, addressing the rise in hate crimes, reaching out to immigrants and Asian American families, increasing political representation.
    </p>
  </body>
</div>
