<html>

<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">

<div id='cssmenu'>
<ul>
   <li><%= link_to "Home", '/home' %><span></span></a></li>
   <li><%= link_to "About", '/about' %><span></span></a></li>
   <li><%= link_to "People", '/people' %><span></span></a></li>
   <li><%= link_to "Events", '/events' %><span></span></a></li>
   <li><%= link_to "Contact", '/contact' %><span></span></a></li>
   <li class='active '><%= link_to "Organizations", '/organizations' %><span></span></a></li>
</ul>
</div>
 </div>
</header>
<head>


    </head>
<div id="left"></div>
<div id="right"></div>


<div class="line-separator"></div>
 
  <body>
  <div class="line-separator"></div>
  
<h1> Member Groups </h1>
  <div class="line-separator"></div>
  
  </body>

  <h3>Asian American Cultural Center</h3>
  <p> The Asian American Cultural Center, located at 295 Crown St., serves as a second home to Asian American students. Also organizes a variety of cultural, social, and political events which highlight the Asian experience in the U.S.</p>
  <h3>Chinese American Students' Association</h3>
  <p>The Chinese American Students' Association is one of Yale’s largest and most active undergraduate student organizations. Its purpose is to promote awareness of Chinese and Chinese-American culture and identity among all members of the Yale community.</p>
  <h3>Japanese American Students Union</h3>
  <p>The Japanese American Students Union is an exciting cultural group dedicated to exploring Japanese American culture socially and politically.

</p>
  <h3>Filipino Club at Yale</h3>
  <p>The Filipino Club at Yale (KASAMA) strives to represent the interest of Filipino and Filipino-American students at Yale on social, political, and cultural levels. It is also the goal of Kasama to contact and correspond with other Filipino organizations in New Haven and beyond.

</p>
  <h3>Korean American Students of Yale</h3>
  <p>Korean American Students of Yale functions as a promoter of cultural awareness, a vehicle for political action, and most importantly, a tightly-knit family for the community of Korean Americans at Yale.</p>
  <h3>Muslim Students Association</h3>
  <p>The Muslim Students Association provides Yale students with the opportunity to come together in a supportive Muslim environment and seeks to educate the Yale and New Haven communities about Islam.</p>
  <h3>South Asian Society</h3>
  <p>The South Asian Society is an organization of social, cultural, and intellectual exchange for those with a special interest in South Asia (Bangladesh, Bhutan, India, the Maldives, Nepal, Pakistan, and Sri Lanka).</p>
  <h3>Taiwanese American Society</h3>
  <p>The Taiwanese American Society is a student organization that fosters an awareness of Taiwanese language and culture at Yale University.

</p>
  <h3>Vietnamese Students' Association</h3>
  <p>The Vietnamese Students' Association strives to promote Vietnamese culture and to encourage connection among Vietnamese members and those interested in the community.</p>
 

  
   <footer class="footer">
  <nav>
    <small>
    
    For more information, contact Connie Lu, Christopher Dee, or Albert Jiao.
  </small>
    <ul>
    <li><%= link_to "Home     |",   '/home' %></li>
      <li><%= link_to "About    |",   '/about' %></li>
      <li><%= link_to "People    |",   '/people' %></li>
      
      <li><%= link_to "Events     |",   '/events' %></li>
      <li><%= link_to "Contact |", '/contact' %></li>
      <li><%= link_to "Organizations", '/organizations' %></li>
      
      
    </ul>
  </nav>
</footer>

  </html>
